<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Anudeep/IdeaProjects/AnudeepTuniki">
        <classes><class name="main.java.anudeep.selenium.Sample">
          </class>
          </classes>
    </test>
</suite>